.paragraph-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.paragraph-card-detail-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.paragraph-card-detail {
    width: 550px;
    margin-left: auto;
    margin-right:0px;
}